<h1>Individual</h1>

<div class="single-list">
<img width=100px src="https://source.unsplash.com/book" alt="Random Book">
<h4>{{data.name}}</h4>
<p>{{data.type}}</p>
<p>Location: {{data.lat}} , {{data.lng}}</p>

<div id="sample-map"></div>

    <script>
      const $sampleMap = document.getElementById('sample-map');
      function initMap () {
        const map = new window.google.maps.Map($sampleMap, {
          center: { lat: 38.75, lng: -9.25 },
          zoom: 2
        });
        const position = {
          lat: {{data.lat}}, 
          lng: {{data.lng}} 
        }
        const marker = new window.google.maps.Marker({
            position: position,
            map
          })
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBligPsXGnlkZvDhzc1B9PAKXXWIm2lYJ8&callback=initMap"
    async defer></script>

</div> 